.SelectWrapper {
    position: relative;
    width: 100%;
    display: block;
}

.Select {
    width: 100%;
    padding: 2%;
    background: none;
    appearance: none;
    position: relative;

}

.SelectBorderColor {
    border: 1px solid #D8D8DA;
}

.Select * {
    background-color: #F0F0F0;
    color: #353638;
}

.SelectWrapper:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #8CA2C2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    content: '';
    pointer-events: none;
}

.SelectColor {
    color: black
}

.PlaceholderSelectShownColor {
    color: #DADADA;
}