* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*padding-right: 14%;*/
}