.Button {
    box-sizing: border-box;
    display: block;
    background-color: #FF8E1E;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}

.SubmitButton {
    width: 12%;
    height: 50px;
    margin: 40px auto;
}

.OptionButton {
    width: 100%;
    height: 100%;
}